%form{ :action => "", :method => "post"}
  %fieldset
    %ol
      %li
        %label{:for => "nombre"} Nombre:
        %input{:type => "text", :nombre => "nombre", :class => "text"}

    %input{:type => "submit", :value => "Send", :class => "button"}

